{% extends 'base/base.html'%}

{% load static %}

{% block title %} MY CV {% endblock %}

{% block css %}

<style>
    .container{
        margin: auto;
        padding-bottom: 60px;
    }
    .about{
        margin-top: 150px;
        margin-left: 300px;
    }
    .skills,.project{
        margin-top: 50px;
        margin-left: 300px;
    }
    .sk_photo,.footer-image{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .skill-row{
        margin-top:50px ;
    }
    .carousel-inner .carousel-item img {
        max-height: 250px; 
    }
    #carouselExampleCaptions {
        margin-top: 50px; 
        max-width: 600px;
    }
    .footer-image{
        margin-top: 50px;
        margin-left: 10px;
    }
    a{
        text-decoration: none;
    }

</style>
{% endblock %}

{% block body %}

<!-- ---------------About---------------------- -->
    <div class="container"> 
        <div class="about">
            <div class="row">
                {% for about_info in About %}
                    <div class="col"> 
                        <p>{{ about_info.about_sec }}</p>
                    </div>
                    <div class="col"> 
                        <img src="{{ about_info.self_pic.url }}" alt="About Image" width="150px" height="150px" style="border-radius: 50%;">
                {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <a href="{% static '../images/resume.pdf' %}" download>
                        <button type="button" class="btn btn-outline-dark"> Resume</button>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'contact' %}">
                        <button type="button" class="btn btn-dark">Contact</button>
                    </a>
                    
                </div>
                
            </div>
        </div>
    </div>
    
<!-- ------------------------------------------------------ -->
      
<!-- --------------------skills----------------------------- -->

<div class="container">
    <div class="skills">
        <h3>Skills</h3>
        <div class="row skill-row">
            {% for s in skils %}
                <div class="col-1">
                    <div class="row-3">
                        <img class="sk_photo" src="{{ s.skill_pic.url}}" alt="skill pic" >
                    </div>
                    <div class="row">
                        <p>{{ s.skill }}</p>
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>
</div>

<!-- ---------------------------------------- -->


<!-- ------------------------project------------------ -->

<div class="container">
    <div class="project">
        <h3>Project</h3>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-inner">
                {% for items in Carousel %}
                    <div   div class="carousel-item active">
                        <a href="{{ items.p_link }}" target="_blank">
                            <img src="{{ items.p_image.url}}" class="d-block w-100" alt="...">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <p>{{ items.p_description }}</p>
                          </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
 
{% endblock %}
