{% extends 'base/base.html'%}

{% load static %}

{% block title %} MY CV {% endblock %}

{% block css %}

<style>
    a{
        text-decoration: none;
}
    h4{
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 500px;
    }
    .about{
        margin-top: 150px;
        margin-left: 300px;
    }
    .skills,.project{
        margin-top: 50px;
        margin-left: 300px;
    }
    .sk_photo,.footer-image{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        align-self: center;
        margin-top: 10px;
    }
    .skill-row{
        margin-top:50px ;
        margin-left: 300px;
        margin-bottom: 80px;
       
    }
    .carousel-inner .carousel-item img {
        max-height: 250px; 
    }
    #carouselExampleCaptions {
        margin-top: 50px; 
        max-width: 600px;
    }
    .carousel-caption{
        opacity: 0;
    }
    .carousel-caption:hover{
        background-color: #F1EFEF;
        transition: .3s;
        transition-delay: .3s;
        opacity: 100%;
    }
    .footer-image{
        margin-top: 50px;
        margin-left: 10px;
    }
    a{
        text-decoration: none;
    }
    .self-img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: 50px;
    }

    .card{
        align-self: center;
        margin-right: 20px;
    }
    .card-text{
        text-align: center;
        font-size: 15px;
    }
    .clr{
        color: #191717;
    }
</style>
{% endblock %}

{% block body %}

<!-- ---------------About---------------------- -->
    <div class="container"> 
        <div class="about">
            <div class="row">
                {% for about_info in About %}
                    <div class="col"> 
                        <h3>Hi,</h3>
                        <p>{{ about_info.about_sec }}</p>
                    </div>
                    <div class="col"> 
                        <img class="self-img" src="{{ about_info.self_pic.url }}" alt="About Image">
                {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <a href="{% static '../images/resume.pdf' %}" download>
                        <button type="button" class="btn btn-clr "> Resume</button>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'contact' %}">
                        <button type="button" class="btn btn-clr">Contact</button>
                    </a>
                    
                </div>
                
            </div>
        </div>
    </div>
    
<!-- ------------------------------------------------------ -->
      
<!-- --------------------skills----------------------------- -->

<div class="container">
    <h4>Skills</h4>
    <div class="row skill-row">     
        {% for s in skils %}
            <div class="card card-bg" style="width: 7rem;">
                <img class="sk_photo" src="{{ s.skill_pic.url}}" class="card-img-top" alt="skill image">
                <div class="card-body">
                    <p class="card-text" style="align-self: center;">{{ s.skill }}</p>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}</div><div class="row skill-row">{% endif %} <!--this line checks
            whether the current value of s is divisible by 4 if yes then a new row is printed    -->
        {% endfor %}
    </div>
</div>

<!-- ---------------------------------------- -->


<!-- ------------------------project------------------ -->
<div class="container">
    <div class="project">
        <h3>Project</h3>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-inner">
                {% for items in Carousel %}
                    <div class=" clr carousel-item active">
                        <a href="{{ items.p_link }}" target="_blank">
                            <img src="{{ items.p_image.url }}" class="d-block w-100" alt="...">
                        </a>
                        <div class=" clr carousel-caption d-none d-md-block">
                            <p>{{ items.p_description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" ariahidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

 
{% endblock %}
